@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  color: #676B65;
  font-size: 18px;
}

h1 {
  color: white;
  font-size: 48px;
  line-height: 70px;
}

h2,
h3,
h4 {
  color: #151913;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #325839;
  opacity: 0.65;
  z-index: 2;
}

.header__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.header__container {
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  position: relative;
  z-index: 3;
}

.logo {
  font-size: 32px;
  padding: 20px;
  font-weight: bold;
}

.logo a {
  color: white;
  text-decoration: none;
}

.logo a span {
  font-size: 38px;
  color: #FFED4A;
  text-transform: uppercase;
}

.header__menu {
  padding: 20px;
}

.menu__trigger {
  display: none;
  width: 45px;
  height: 45px;
  position: relative;
}

.menu__trigger span {
  width: 100%;
  height: 3px;
  background: #ffffff;
  position: absolute;
}

.menu__trigger span:nth-child(1) {
  top: 0;
}

.menu__trigger span:nth-child(2) {
  top: 12px;
}

.menu__trigger span:nth-child(3) {
  top: 24px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px;
  grid-column-gap: 40px;
  justify-content: space-between;
  position: relative;
}

.menu a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
  transition: border-bottom 0.3s ease-in-out;
  position: relative;
}

.menu a::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 0px;
  height: 100%;
  border-bottom: solid 2px #fff;
  transition: all 0.5s ease;
}

.menu a:hover::before {
  width: 100%;
}

a.active,
a.active:hover {
  border-bottom: solid 2px #FFED4A;
  z-index: 2;
}

a.active::before,
a.active:hover::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: solid 2px #FFED4A;
  transition: all 0.5s ease;
}

.header__title,
.header__button {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  align-items: center;
}

.header__title span {
  color: #FFED4A;
}

.button,
.footer__form .button {
  padding: 10px;
  display: inline-block;
  min-width: 170px;
  background: #FFED4A;
  text-align: center;
  color: #66A454;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.button:hover,
.footer__form .button:hover {
  background: #ffea31;
  color: #5c934b;
}

.about {
  background: #E6F3E3;
  padding: 50px 0;
}

.about__container {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 20px;
}

.about__img {
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about__img img {
  width: 100%;
}

.about__text {
  padding: 10px;
}

.about__text p {
  line-height: 1.7;
  margin: 40px 0;
}

.about__button {
  padding-top: 20px;
}

.gallary {
  grid-template-columns: 1fr;
  text-align: center;
}

.gallary__title {
  padding: 0 10px;
  margin: 50px 0;
}

.gallary__grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 150px);
  grid-gap: 5px;
  padding: 10px;
}

.gallary__item {
  position: relative;
  cursor: pointer;
}

.gallary__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallary__item:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallary__item:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 5;
}

.gallary__item:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.gallary__item:nth-child(7) {
  grid-column: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallary__item:nth-child(8) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 4;
}

.gallary__item__description {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 45px;
  background: rgba(44, 107, 49, 0.7);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.gallary__item__description h4 {
  color: #FFED4A;
}

.gallary__item__description p {
  font-size: 14px;
  color: white;
}

.gallary__item:hover .gallary__item__description {
  opacity: 1;
  bottom: 0;
}

.gallary__button {
  padding: 50px 10px;
}

.ourteam {
  text-align: center;
  background-color: #E6F3E3;
}

.ourteam__title {
  padding: 50px 10px;
}

.ourteam__grid {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding-bottom: 50px;
}

.ourteam__item {
  background: white;
  margin: 0 10px;
  border: solid 3px;
  border-color: #E6F3E3;
  transition: all 0.5s ease-in-out;
}

.ourteam__item:hover {
  border-color: #FFED4A;
}

.ourteam__img {
  width: 100%;
  height: 240px;
}

.ourteam__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ourteam__name {
  padding: 20px 10px;
}

.ourteam__desctiption {
  font-size: 16px;
  padding: 0 30px 20px;
  line-height: 1.7;
}

.ourteam__socials {
  padding-bottom: 20px;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.ourteam__socials a {
  padding: 0 5px;
  color: #FFED4A;
  transition: color 0.5s ease-in-out;
}

.ourteam__socials a:hover {
  color: #e3cc00;
}

.ourteam__item:hover .ourteam__socials {
  opacity: 1;
}

footer {
  background: #081C09;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 50px 10px;
}

.footer__container {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 50px 10px;
}

.footer__socials {
  padding: 50px 20px;
}

.footer__socials a {
  font-size: 20px;
  padding: 0 5px;
  color: rgba(178, 207, 178, 0.7);
  transition: color 0.5s ease-in-out;
}

.footer__socials a:hover {
  color: rgba(209, 227, 209, 0.7);
}

.footer__form {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  text-align: center;
}

.footer__form textarea,
.footer__form .footer__button {
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer__form input[type="text"],
.footer__form input[type="email"],
.footer__form textarea {
  background: rgba(178, 207, 178, 0.7);
  padding: 15px;
  color: #fff;
  border: none;
  outline: solid 3px rgba(178, 207, 178, 0.7);
  transition: outline 0.5s ease;
}

.footer__form input[type="text"]::placeholder,
.footer__form input[type="email"]::placeholder,
.footer__form textarea::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', sans-serif;
}

.footer__form input[type="text"]:focus,
.footer__form input[type="email"]:focus,
.footer__form textarea:focus {
  outline: solid 3px #FFED4A;
}

.footer__form textarea {
  grid-row-start: 2;
  grid-row-end: 8;
}

.footer__form input[type="submit"]:focus {
  outline: none;
}

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
  .ourteam__desctiption {
    font-size: 14px;
  }
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 22px;
  }
  .header__container {
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;
  }
  .menu__links {
    grid-column-gap: 10px;
  }
  .logo {
    font-size: 30px;
  }
  .logo a span {
    font-size: 34px;
  }
  .button,
  .footer__form .button {
    font-size: 18px;
  }
  .about__text p {
    line-height: 1.4;
    margin: 15px 0;
    font-size: 14px;
  }
  .gallary__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-gap: 5px;
    padding: 10px;
  }
  .gallary__item:nth-child(1) {
    grid-row-start: auto;
    grid-row-end: auto;
  }
  .gallary__item:nth-child(3) {
    grid-column-start: auto;
    grid-column-end: auto;
  }
  .gallary__item:nth-child(4) {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
  }
  .gallary__item:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .gallary__item:nth-child(7) {
    grid-column: auto;
    grid-row-start: auto;
    grid-row-end: auto;
  }
  .gallary__item:nth-child(8) {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row: auto;
  }
  .ourteam__title {
    padding: 30px 10px;
  }
  .ourteam__grid {
    grid-gap: 0;
  }
  .ourteam__img {
    height: 160px;
  }
  .ourteam__desctiption {
    padding: 0 10px 20px;
    line-height: 1.4;
  }
  .footer {
    padding: 30px 10px;
  }
  .footer__form {
    grid-template-columns: 1fr;
  }
  .footer__form textarea,
  .footer__form .footer__button {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .footer__form textarea {
    grid-row-start: 3;
    grid-row-end: 8;
  }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  h2 {
    text-align: center;
  }
  .header__container {
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px;
  }
  .header__menu {
    justify-content: end;
  }
  .menu {
    display: none;
    grid-template-columns: 1fr;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background: rgba(8, 28, 9, 0.9);
    border-top: 3px solid #FFED4A;
  }
  .menu a {
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
  }
  .menu a::before {
    border-bottom: none;
  }
  .menu a:hover::before {
    width: 100%;
  }
  a.active,
  a.active:hover {
    color: #FFED4A;
    border-bottom: none;
  }
  a.active::before,
  a.active:hover::before {
    border-bottom: none;
  }
  .menu__trigger {
    display: block;
    width: 45px;
  }
  .about__container {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .about__button {
    text-align: center;
  }
  .ourteam__grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .ourteam__img img {
    object-position: 50% 70%;
  }
  .ourteam__socials {
    opacity: 1;
  }
  .footer__container {
    grid-template-columns: 1fr;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }
  .logo {
    font-size: 22px;
  }
  .logo a span {
    font-size: 24px;
  }
  .gallary__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 200px);
  }
  .gallary__item:nth-child(5) {
    grid-column-start: auto;
    grid-column-end: auto;
  }
}